In [1]:
# import relevant libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# read grades dataset, save as a pandas dataframe
grades = pd.read_csv('grades.csv')

In [3]:
# display first few rows of grades
grades.head()

   exam  student_id  grade
0     1           1   86.0
1     1           2   65.0
2     1           3   70.0
3     1           4   98.0
4     1           5   89.0

In [8]:
grades.isna().sum()

exam          0
student_id    0
grade         5
dtype: int64

In [9]:
grades.isna().sum().sum()

5

In [6]:
# test for missing values in grades dataset
assert grades.isnull().sum().sum() == 0, 'there are missing values'

AssertionError: there are missing values

In [10]:
def lowest_grade(student_id):
    
    """Find lowest grade across all exams for student with given student_id.
    Treat missing exam grades as zeros."""
    
    return grades.loc[grades['student_id'] == student_id]['grade'].fillna(0).min()

In [11]:
# lowest grade for student with student_id 1
lowest_grade(1)

0.0

In [12]:
# grades for student with student_id 1
grades.loc[grades['student_id'] == 1]

    exam  student_id  grade
0      1           1   86.0
10     2           1   79.0
20     3           1   78.0
30     4           1    NaN
40     5           1   90.0

In [13]:
lowest_grade(0)

nan