In [1]:
# import relevant modules & libraries
import math
import numpy as np
import pandas as pd

In [2]:
# read grades dataset & save as pandas dataframe
grades = pd.read_csv('grades.csv')

In [3]:
# display first ten rows of grades
grades.iloc[:10]

   exam  student_id  grade
0     1           1   86.0
1     1           2   65.0
2     1           3   70.0
3     1           4   98.0
4     1           5   89.0
5     1           6    NaN
6     1           7   75.0
7     1           8   56.0
8     1           9   90.0
9     1          10   81.0

In [4]:
# check for missing values in grade column
if grades['grade'].isnull().values.any():
    print('there are missing values')
else:
    print('there are no missing values')

there are missing values

In [5]:
# fill missing grades with zeros
grades['grade'] = grades['grade'].fillna(0)

In [6]:
# display first ten rows of grades
grades.iloc[:10]

   exam  student_id  grade
0     1           1   86.0
1     1           2   65.0
2     1           3   70.0
3     1           4   98.0
4     1           5   89.0
5     1           6    0.0
6     1           7   75.0
7     1           8   56.0
8     1           9   90.0
9     1          10   81.0

In [7]:
"""compute standard deviation for grades across all exams using for loop"""

# compute mean for grades across all exams
mean = grades['grade'].sum() / len(grades['grade'])
# initialize total, which will eventually be the sum of all squared distances to mean
total = 0
# iterate over grade values in grade column
for g in grades['grade']:
    # each iteration, compute squared distance to mean, add to total
    total += (g - mean)**2
# compute variance, average squared distance to mean
variance = total / len(grades['grade'])
# compute standard deviation, square root of variance
standard_dev = math.sqrt(variance)

standard_dev

26.956676352992776

In [8]:
# compute standard deviation for grades across all exams using np.std
np.std(grades['grade'])

26.95667635299278

In [9]:
"""compute mean grade for each exam using for loop"""

# initialize list where mean for each exam will be saved
exam_means = []
# iterate over distinct exams in exam column
for exam in grades['exam'].unique():
    # each iteration,
    # select subset containing grades for current exam,
    exam_grades = grades.loc[grades['exam'] == exam]['grade']
    # compute mean grade for current exam,
    curr_mean = exam_grades.mean()
    # add current mean to exam_means
    exam_means.append(curr_mean)
    
exam_means

[71.0, 73.2, 74.4, 75.6, 84.6]

In [10]:
# compute mean grade for each exam using groupby function from pandas
grades.groupby('exam')['grade'].mean().values

array([71. , 73.2, 74.4, 75.6, 84.6])