In [2]:
!pip install matplotlib seaborn

Collecting matplotlib
  Downloading https://files.pythonhosted.org/packages/30/f2/10c822cb0ca5ebec58bd1892187bc3e3db64a867ac26531c6204663fc218/matplotlib-3.3.3-cp37-cp37m-manylinux1_x86_64.whl (11.6MB)
     |████████████████████████████████| 11.6MB 9.3MB/s eta 0:00:01
Collecting seaborn
  Downloading https://files.pythonhosted.org/packages/68/ad/6c2406ae175f59ec616714e408979b674fe27b9587f79d59a528ddfbcd5b/seaborn-0.11.1-py3-none-any.whl (285kB)
     |████████████████████████████████| 286kB 13.8MB/s eta 0:00:01
Collecting pillow>=6.2.0 (from matplotlib)
  Downloading https://files.pythonhosted.org/packages/eb/8e/d2f7a67cf8da9b83c1e3ee38dbf49448f3c8acb2cb38f76e4301f4a70223/Pillow-8.1.0-cp37-cp37m-manylinux1_x86_64.whl (2.2MB)
     |████████████████████████████████| 2.2MB 12.4MB/s eta 0:00:01     |█████████████▎                  | 921kB 12.4MB/s eta 0:00:01
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 (from matplotlib)
  Downloading https://files.pythonhosted.org/packages/8a/bb/488841f56197b13700afd5658fc279a2025a39e22449b7cf29864669b15d/pyparsing-2.4.7-py2.py3-none-any.whl (67kB)
     |████████████████████████████████| 71kB 9.8MB/s  eta 0:00:01
Collecting cycler>=0.10 (from matplotlib)
  Downloading https://files.pythonhosted.org/packages/f7/d2/e07d3ebb2bd7af696440ce7e754c59dd546ffe1bbe732c8ab68b9c834e61/cycler-0.10.0-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.15 in /home/sdk/snap/jupyter/common/lib/python3.7/site-packages (from matplotlib) (1.19.5)
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Downloading https://files.pythonhosted.org/packages/d2/46/231de802ade4225b76b96cffe419cf3ce52bbe92e3b092cf12db7d11c207/kiwisolver-1.3.1-cp37-cp37m-manylinux1_x86_64.whl (1.1MB)
     |████████████████████████████████| 1.1MB 13.1MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.1 in /snap/jupyter/6/lib/python3.7/site-packages (from matplotlib) (2.8.0)
Collecting scipy>=1.0 (from seaborn)
  Downloading https://files.pythonhosted.org/packages/58/9d/8296d8211318d690119eba6d293b7a149c1c51c945342dd4c3816f79e1ba/scipy-1.6.0-cp37-cp37m-manylinux1_x86_64.whl (27.4MB)
     |████████████████████████████████| 27.4MB 1.2MB/s eta 0:00:01     |█▌                              | 1.3MB 13.7MB/s eta 0:00:02     |██████████████████▊             | 16.0MB 9.3MB/s eta 0:00:02     |█████████████████████           | 17.9MB 9.3MB/s eta 0:00:02     |███████████████████████▏        | 19.8MB 8.6MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.23 in /home/sdk/snap/jupyter/common/lib/python3.7/site-packages (from seaborn) (1.2.0)
Requirement already satisfied: six in /snap/jupyter/6/lib/python3.7/site-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: pytz>=2017.3 in /home/sdk/snap/jupyter/common/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2020.5)
Installing collected packages: pillow, pyparsing, cycler, kiwisolver, matplotlib, scipy, seaborn
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.3.3 pillow-8.1.0 pyparsing-2.4.7 scipy-1.6.0 seaborn-0.11.1

In [3]:
!pip install scikit-learn xgboost plotly

Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/b1/ed/ab51a8da34d2b3f4524b21093081e7f9e2ddf1c9eac9f795dcf68ad0a57d/scikit_learn-0.24.0-cp37-cp37m-manylinux2010_x86_64.whl (22.3MB)
     |████████████████████████████████| 22.3MB 8.4MB/s eta 0:00:01
Collecting xgboost
  Downloading https://files.pythonhosted.org/packages/29/c8/d6ff9fe39cb93ef2e66bb411c69e0135dd1b1ea98827eadbb2ba8baecb44/xgboost-1.3.1-py3-none-manylinux2010_x86_64.whl (157.5MB)
     |████████████████████████████████| 157.5MB 7.0MB/s eta 0:00:01    |██████████████▏                 | 69.7MB 760kB/s eta 0:01:56     |███████████████████▋            | 96.8MB 4.5MB/s eta 0:00:14
Collecting plotly
  Downloading https://files.pythonhosted.org/packages/c9/09/315462259ab7b60a3d4b7159233ed700733c87d889755bdc00a9fb46d692/plotly-4.14.1-py2.py3-none-any.whl (13.2MB)
     |████████████████████████████████| 13.2MB 7.9MB/s eta 0:00:01    |███████▏                        | 2.9MB 8.8MB/s eta 0:00:02     |█████████                       | 3.7MB 8.8MB/s eta 0:00:02
Requirement already satisfied: scipy>=0.19.1 in /home/sdk/snap/jupyter/common/lib/python3.7/site-packages (from scikit-learn) (1.6.0)
Requirement already satisfied: numpy>=1.13.3 in /home/sdk/snap/jupyter/common/lib/python3.7/site-packages (from scikit-learn) (1.19.5)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Collecting joblib>=0.11 (from scikit-learn)
  Downloading https://files.pythonhosted.org/packages/34/5b/bd0f0fb5564183884d8e35b81d06d7ec06a20d1a0c8b4c407f1554691dce/joblib-1.0.0-py3-none-any.whl (302kB)
     |████████████████████████████████| 307kB 11.8MB/s eta 0:00:01
Collecting retrying>=1.3.3 (from plotly)
  Downloading https://files.pythonhosted.org/packages/44/ef/beae4b4ef80902f22e3af073397f079c96969c69b2c7d52a57ea9ae61c9d/retrying-1.3.3.tar.gz
Requirement already satisfied: six in /snap/jupyter/6/lib/python3.7/site-packages (from plotly) (1.12.0)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py) ... done
  Stored in directory: /home/sdk/snap/jupyter/6/.cache/pip/wheels/d7/a9/33/acc7b709e2a35caa7d4cae442f6fe6fbf2c43f80823d46460c
Successfully built retrying
Installing collected packages: threadpoolctl, joblib, scikit-learn, xgboost, retrying, plotly
Successfully installed joblib-1.0.0 plotly-4.14.1 retrying-1.3.3 scikit-learn-0.24.0 threadpoolctl-2.1.0 xgboost-1.3.1

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [5]:
starting_date = '20160701'
sample_numpy_data = np.array(np.arange(24)).reshape((6,4))
dates_index = pd.date_range(starting_date, periods=6)
sample_df = pd.DataFrame(sample_numpy_data, index=dates_index, columns=list('ABCD'))
sample_df

             A   B   C   D
2016-07-01   0   1   2   3
2016-07-02   4   5   6   7
2016-07-03   8   9  10  11
2016-07-04  12  13  14  15
2016-07-05  16  17  18  19
2016-07-06  20  21  22  23

In [6]:
sample_df_2 = sample_df.copy()
sample_df_2['Fruits'] = ['apple', 'orange','banana','strawberry','blueberry','pineapple']
sample_df_2

             A   B   C   D      Fruits
2016-07-01   0   1   2   3       apple
2016-07-02   4   5   6   7      orange
2016-07-03   8   9  10  11      banana
2016-07-04  12  13  14  15  strawberry
2016-07-05  16  17  18  19   blueberry
2016-07-06  20  21  22  23   pineapple

Setting a new column automatically aligns the data by the indexes

##### Setting values by label

##### Setting values by position
documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iat.html

iat provides integer based lookups

##### Setting by assigning with a numpy array