In [2]:
# Start by importing our libraries
%matplotlib inline
#from ggplot import *
import pandas as pd
import numpy as np

In [ ]:
# Now let's build a quick plot (qplot)
qplot(x='price',data=diamonds)

In [ ]:
# Create a Facets (trellis) for our chart
qplot(x='price',data=diamonds) + facet_wrap(x='clarity', y='cut')

In [ ]:
# Let's organize these better into a grid
qplot(x='price',data=diamonds) + facet_grid(x='clarity', y='cut')

In [3]:
# Let's look at Anscombe's Quartet
aq=pd.read_csv('data/anscombes-quartet-hier.csv',header=[0,1],index_col=[0])
aq

group     I           II         III           IV
var       x      y     x     y     x      y     x      y
0      10.0   8.04  10.0  9.14  10.0   7.46   8.0   6.58
1       8.0   6.95   8.0  8.14   8.0   6.77   8.0   5.76
2      13.0   7.58  13.0  8.74  13.0  12.74   8.0   7.71
3       9.0   8.81   9.0  8.77   9.0   7.11   8.0   8.84
4      11.0   8.33  11.0  9.26  11.0   7.81   8.0   8.47
5      14.0   9.96  14.0  8.10  14.0   8.84   8.0   7.04
6       6.0   7.24   6.0  6.13   6.0   6.08   8.0   5.25
7       4.0   4.26   4.0  3.10   4.0   5.39  19.0  12.50
8      12.0  10.84  12.0  9.13  12.0   8.15   8.0   5.56
9       7.0   4.82   7.0  7.26   7.0   6.42   8.0   7.91
10      5.0   5.68   5.0  4.74   5.0   5.73   8.0   6.89

In [4]:
aq.mean()
aq.var()

group  var
I      x      11.000000
       y       4.127269
II     x      11.000000
       y       4.127629
III    x      11.000000
       y       4.122620
IV     x      11.000000
       y       4.123249
dtype: float64

In [5]:
df=pd.read_csv('data/anscombes-quartet.csv',header=0,index_col=0)

In [8]:
import matplotlib.pyplot as plt

In [6]:
(aes(x='x', y='y'), data=df)+geom_point()+facet_wrap('group')

NameError: name 'ggplot' is not defined